:root{
    --main-title-color:#FFFFFF;
    --secondary-title-color:#212121;
    --main-text-color: rgba(117, 117, 117, 1);
    --accent-color: rgba(33, 150, 243, 1);    ;
    --accent-hover-color:#188CE8;
    --footer-contacts-color: rgba(255, 255, 255, 0,6);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* logo */
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}
.logo-web {
    color: var(--accent-color);
    
}
.logo-studio {
    color: var(--secondary-title-color);
}

body{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
p, h2, h3{
    margin: 0; 
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}
.link:hover,
.link:focus{
    color: var(--accent-hover-color);
}

/* -------HEDER------------- */



/* -------HERO----------- */


/* -----------ABOUT----------- */


/* --------WORK--------------- */



/* ----------TEAM-------------- */



/* ----- CLIENTS --------- */


/* -------Footer--------- */


/* --------Next page-------------  */

/* ---------Portfolio------------- */




/* ----------------MODAL---------------------- */



/* <!-------- FORMA --------> */




